{% extends "base.html" %}


{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" href="" style="margin-left:400px;">Home</a>
    <a class="navbar-brand" href="" style="margin-left:50px;">About</a>
    <a class="navbar-brand" href="" style="margin-left:50px;">Signup</a>
    <a class="navbar-brand" href="" style="margin-left:50px;">Signin</a>
    <a class="navbar-brand" href="" style="margin-left:50px;">Signout</a>


</div>
<div>
<p>
    Bengaluru, also spelled Bengalooru, formerly Bangalore, city, capital (since 1830) of Karnataka state, southern India. Bengaluru is one of India’s largest cities. It lies 3,113 feet (949 metres) above sea level, atop an east-west ridge in the Karnataka Plateau in the southeastern part of the state, at a cultural meeting point of the Kannada-, Telugu-, and Tamil-speaking peoples. Pop. (2001) city, 4,301,326; urban agglom., 5,701,446; (2011) city, 8,443,675; urban agglom., 8,520,435.

History
</p>
<p>The city’s nucleus was a settlement around a mud fort, built in 1537 by a local chief, Kempe Gowda. The fort was reconstructed of stone in 1761. Bangalore was the headquarters of the British administration from 1831 to 1881, when the raja was restored. However, Britain retained an administrative and military presence in the city until Indian independence in 1947. Bangalore subsequently became the capital of the new state of Mysore and remained the capital during the reorganization of states in 1956; Mysore was renamed Karnataka in 1973.

</p>
<p>Large-scale immigration to Bangalore began in the 1950s as the state invested heavily in the public sector and in education. Employment opportunities were created for tens of thousands of people in southern India, and Bangalore grew to become one of the largest cities in the country. For several decades the city’s economic growth was based largely on manufacturing industries. In the early 1990s, however, a combination of new national economic liberalization policies and the emergence of a strong education system in the city encouraged the development of an information and communications technology (ICT) sector in Bangalore and paved the way for its rapid development into both a national and a global ICT centre.

    Bengaluru, India: Vidhana Soudha
    Bengaluru, India: Vidhana Soudha
    In 2006 the city officially changed its name to Bengaluru, although the old name was still widely used. The following year the Greater Bengaluru Municipal Corporation (Bruhat Bengaluru Mahanagara Palike) was created, which superseded the city’s previous municipal government. At that time dozens of communiti
</p>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MY Website.com</a>
        </div>
        <!-- Copyright -->
      </footer>  
  {% endblock %}

